{% extends 'main.html' %}

{% block content %}

{% if page == 'register' %}
<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <h3>Rejestracja</h3>
        <p>Załóż nowe konto</p>
      </div>

      <form method="POST" action="{% url 'register' %}" class="form auth__form">
        {% csrf_token %}

        <div class="form__field">
          <label for="formInput#text">{{field.label}}: </label>
          {{field}}
          {% for error in field.errors %}
            <p style="color: red;">
            {% if 'The two password' in error %}
            Hasła się nie zgadzają
            {% elif 'at least 8' in error %}
            Hasło musi zawierać minimum 8 znaków
            {% elif 'too common' in error %}
            Hasło jest zbyt proste
            {% elif 'and @/./+/-/_' in error %}
            Wpisz właściwą nazwę użytkownika 
            {% elif 'similar to the username' in error %}
            Hasło jest zbyt podobne do nazwy użytkownika
            {% elif 'already exists.' in error %}
            Istnieje już użytkownik o podanej nazwie
            {% else %}
            {{error}}
            {% endif %}
            </p>
          {% endfor %}
        </div>
      {% endfor %}

        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Zarejestruj się" />
        </div>
      </form>

      <div class="auth__alternative">
        <p>Masz już konto?</p>
        <a href="{% url 'login' %}">Zaloguj się</a>
      </div>
    </div>
  </div>





{% elif page == 'login' %}
<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <h3>Zaloguj się</h3>
        <p>Witamy z powrotem!</p>
      </div>

      <form method="POST" action="" class="form auth__form">
        {% csrf_token %}
        <!-- Input:Email -->
        <div class="form__field">
          <label for="formInput#text">Nazwa użytkownika: </label>
          <input
            class="input input--text"
            id="formInput#text"
            type="text"
            name="username"
            placeholder="Nazwa użytkownika"
          />
        </div>

        <!-- Input:Password -->
        <div class="form__field">
          <label for="formInput#password">Hasło: </label>
          <input
            class="input input--password"
            id="formInput#passowrd"
            type="password"
            name="password"
            placeholder="Hasło"
          />
        </div>
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Zaloguj się" />
          <a href="{% url 'reset_password' %}">Zapomniałeś hasła?</a>
        </div>
      </form>
      <div class="auth__alternative">
        <p>Nie masz konta?</p>
        <a href="{% url 'register' %}">Zarejestruj się</a>
      </div>
    </div>
  </div>





{% endif %}

{% endblock content %}
