{% extends 'main.html' %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Wysłano wiadomość z instrukcjami!</h3>
            <p>
                <br>
                Nasz system automatyczny wysłał wiadomość e-mail z instrukcjami jak zmienić dotychczasowe hasło.
                Jeżeli podany e-mail był wcześniej zarejestrowany na naszej stronie i przypisany do twojego konta,
                wiadomość powinna być widoczna.
                <br>
                <br>
                Jeśli e-mail nie doszedł upewnij się, że wprowadzasz właściwy adres oraz sprawdź sekcję spamu
            </p>
            <br>
        </div>
    </div>
</main>

{% endblock content %}